/* Reseteo */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Encabezado */
header {
    display: flex;
    background-color: rgb(15, 19, 16);
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

nav ul li {
    margin: 27px;
}

/* Animacion Barra Navegacion */
header li a:hover {
    background-color: #232724;
    color: #ffffff;
    padding: 5px;
    transition: 1s;
    border-radius: 10px;
}

/* Contenido Principal */
.contenido h1 {
    background-image: linear-gradient(to top, rgb(39, 44, 41), rgb(59, 59, 45));
    border-radius: 200px;
    padding: 50px;
    color: rgb(68, 83, 68);
    font-family: monospace;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 400px;
    right: 50%;
    transform: translate(50%, -50%);
    text-transform: uppercase;
    font-family: verdana;
    font-size: 2em;
    font-weight: 700;
    color: #fdfffd;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #b5bdb5,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #244927,
        1px 18px 6px rgba(243, 243, 243, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(19, 29, 12, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);



}

.contenido {
    background-image: url("/img/ivan-lopatin-yJEvZGhsSLY-unsplash.jpg");
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 500px;
}

.contenedor--1 {
    display: flex;
    justify-content: space-around;
}

.contenedor--1 img {
    width: 80%;
    height: 50%;
    object-fit: cover;
    position: relative;
    bottom: 300px;
    border-radius: 100px;
}

.line {
    color: rgb(185, 184, 166);
    position: relative;
    bottom: 400px;
    padding: 5px;
    background-image: linear-gradient(to top, rgb(70, 139, 78), rgb(87, 87, 68));
}

.container-parrafo1 {
    background-color: rgba(38, 66, 51, 0.5);
    color: whitesmoke;
    font-family: fantasy;
    padding: 60px;
    border-radius: 200px;
    position: relative;
    bottom: 150px;
}

.container-parrafo2 {
    background-color: rgba(11, 51, 30, 0.5);
    color: whitesmoke;
    font-family: fantasy;
    padding: 50px;
    border-radius: 350px;
    position: relative;

}

.container-parrafo3 {
    background-color: rgba(67, 77, 72, 0.5);
    color: whitesmoke;
    font-family: fantasy;
    padding: 50px;
    border-radius: 350px;
    position: relative;
    left: 50px;
    top: 200px;
}


/* Pie de Pagina */

.pie1 {
    background-image: linear-gradient(to top, rgb(11, 36, 20), rgb(59, 59, 45));
    padding: 10px;
    display: flex;
    justify-content: center;
}

.parrafoPie {
    color: whitesmoke;
    font-family: fantasy;
}

footer p a:hover {
    background-color: #5b665e;
    color: #ffffff;
    padding: 5px;
    transition: 3s;
    border-radius: 50px;
}