$verde: #2f3d32;
$blanco: #fcfcfc;
$oscuro:  #1d2c1a;
$hover:#4d504c;
$fondo1: rgba(67, 77, 72, 0.5);
$fondo2: rgba(162, 177, 169, 0.5);
$fondo3: linear-gradient(to top, rgb(66, 88, 75), rgb(59, 59, 45));


