%parrafo {
    background-color:$fondo2;
    color: $blanco;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 60px;
    border-radius: 200px;
    position: relative;
    bottom: 150px;
    
}
