/* Reseteo */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenido {
    background-color: $oscuro;
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 500px;

    h1 {
        background-image: $fondo3;
        border-radius: 200px;
        padding: 50px;
        font-family: $fuente;
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 400px;
        right: 50%;
        transform: translate(50%, -50%);
        text-transform: uppercase;
        font-family: $fuente;
        font-size: 2em;
        font-weight: 700;
        color: $blanco;
        text-shadow: $verde,
            
    }
    .contenedor--1 {
        display: flex;
        justify-content: space-around;
    }
    
    .contenedor--1 img {
        width: 80%;
        height: 50%;
        object-fit: cover;
        position: relative;
        bottom: 300px;
        border-radius: 100px;
    }
    
    .line {
        color: $fondo2;
        position: relative;
        bottom: 400px;
        padding: 5px;
        background-image: $fondo2;
    }
    
    .container-parrafo1 {
        background-color: $fondo1;
        color: $blanco;
        font-family: $fuente;
        padding: 60px;
        border-radius: 200px;
        position: relative;
        bottom: 150px;
    }
    
    .container-parrafo2 {
        background-color: $fondo1;
        color: $blanco;
        font-family: $fuente;
        padding: 50px;
        border-radius: 350px;
        position: relative;
    
    }
    
    .container-parrafo3 {
        background-color: $fondo1;
        color: $blanco;
        font-family: $fuente;
        padding: 50px;
        border-radius: 350px;
        position: relative;
        left: 50px;
        top: 200px;
    }


}








